{% extends "base_generic.html" %}

{% block content %}
    <h1>Livros Emprestados</h1>

    {% if bookinstance_list %}
    <ul>
      {% for bookinstance in bookinstance_list %}
      <li class="{% if bookinstance.isLate %}text-danger{% endif %}">
        <a href="{% url 'book_details' bookinstance.book.pk %}">{{bookinstance.book.getTitle}}</a> ({{ bookinstance.due_back}})
        {% if perms.catalog.can_renew_loan %}
          <a href="{% url 'book_renew_loan' bookinstance.id %}"> - Renovar</a>  
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Não há livros emprestados para você.</p>
    {% endif %}
{% endblock %}